USE [UNIS]
GO
/****** Object:  Table [dbo].[phieuanAudioWelcome]    Script Date: 4/3/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[phieuanAudioWelcome](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[TenMP3] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_phieuanAudioWelcome] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[phieuanCa]    Script Date: 4/3/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[phieuanCa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](50) NULL,
	[Ca] [varchar](50) NULL,
 CONSTRAINT [PK_phieuanCa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[phieuanChotso]    Script Date: 4/3/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuanChotso](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TuNgay] [date] NULL,
	[DenNgay] [date] NULL,
	[SoPhieuAn] [int] NULL,
	[TongTienSua] [float] NULL,
	[SoPhieuSua] [int] NULL,
	[TongTienAn] [float] NULL,
	[NguoiChot] [nvarchar](50) NULL,
 CONSTRAINT [PK_phieuanChotso] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[phieuanGiaPhieu]    Script Date: 4/3/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuanGiaPhieu](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Phieu] [nvarchar](50) NULL,
	[Ngay] [date] NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_phieuanGiaphieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[phieuanLichsu]    Script Date: 4/3/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[phieuanLichsu](
	[NgayIn] [nchar](10) NULL,
	[GioIn] [nchar](8) NULL,
	[MaNV] [varchar](10) NOT NULL,
	[LoaiPhieu] [nvarchar](10) NULL,
	[SoPhieu] [int] NULL,
	[GhiChu] [nvarchar](250) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[phieuanMatKhau]    Script Date: 4/3/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[phieuanMatKhau](
	[MaNV] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[MatKhau] [varchar](50) NULL,
	[MaThe] [nchar](10) NULL,
	[Quyen] [varchar](250) NULL,
 CONSTRAINT [PK_phieuanMatKhau_1] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[phieuanPhanCa]    Script Date: 4/3/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[phieuanPhanCa](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NULL,
	[MaVN] [varchar](5) NULL,
	[Ca] [varchar](3) NULL,
	[NguoiPhanCa] [nvarchar](50) NULL,
 CONSTRAINT [PK_phieuanPhanCa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[phieuanQuyen]    Script Date: 4/3/2023 12:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuanQuyen](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MaQ] [int] NULL,
	[NoiDung] [nvarchar](250) NULL,
 CONSTRAINT [PK_phieuanQuyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[phieuanAudioWelcome] ON 

INSERT [dbo].[phieuanAudioWelcome] ([ID], [MaNV], [TenMP3]) VALUES (1, N'A0079', N'xin chao anh Vo Minh Tuan.mp3')
INSERT [dbo].[phieuanAudioWelcome] ([ID], [MaNV], [TenMP3]) VALUES (3, N'A0091', N'xin chao chi Ngoc Huyen.mp3')
SET IDENTITY_INSERT [dbo].[phieuanAudioWelcome] OFF
SET IDENTITY_INSERT [dbo].[phieuanCa] ON 

INSERT [dbo].[phieuanCa] ([ID], [MaNV], [Ca]) VALUES (1, N'A0001', N'HC')
INSERT [dbo].[phieuanCa] ([ID], [MaNV], [Ca]) VALUES (2, N'A0054', N'HC')
INSERT [dbo].[phieuanCa] ([ID], [MaNV], [Ca]) VALUES (4, N'A0091', N'HC')
SET IDENTITY_INSERT [dbo].[phieuanCa] OFF
SET IDENTITY_INSERT [dbo].[phieuanGiaPhieu] ON 

INSERT [dbo].[phieuanGiaPhieu] ([ID], [Phieu], [Ngay], [Gia]) VALUES (1, N'A', CAST(0x763F0B00 AS Date), 15000)
INSERT [dbo].[phieuanGiaPhieu] ([ID], [Phieu], [Ngay], [Gia]) VALUES (2, N'S', CAST(0x763F0B00 AS Date), 7000)
INSERT [dbo].[phieuanGiaPhieu] ([ID], [Phieu], [Ngay], [Gia]) VALUES (3, N'A', CAST(0x773F0B00 AS Date), 16000)
SET IDENTITY_INSERT [dbo].[phieuanGiaPhieu] OFF
INSERT [dbo].[phieuanLichsu] ([NgayIn], [GioIn], [MaNV], [LoaiPhieu], [SoPhieu], [GhiChu]) VALUES (N'2023/03/28', N'13:23:19', N'A0079', N'A', 1, N'')
INSERT [dbo].[phieuanLichsu] ([NgayIn], [GioIn], [MaNV], [LoaiPhieu], [SoPhieu], [GhiChu]) VALUES (N'2023/03/28', N'13:25:39', N'A0079', N'A', 1, N'')
INSERT [dbo].[phieuanLichsu] ([NgayIn], [GioIn], [MaNV], [LoaiPhieu], [SoPhieu], [GhiChu]) VALUES (N'2023/03/28', N'13:28:28', N'A0079', N'A', 1, N'')
INSERT [dbo].[phieuanMatKhau] ([MaNV], [HoTen], [MatKhau], [MaThe], [Quyen]) VALUES (N'A0001', N'VÕ PHÚ ĐỨC', N'4321', N'0012122892', N'ok')
INSERT [dbo].[phieuanMatKhau] ([MaNV], [HoTen], [MatKhau], [MaThe], [Quyen]) VALUES (N'A0002', N'NGUYỄN HỒNG VINH', N'4407', N'0012142072', N'ok')
INSERT [dbo].[phieuanMatKhau] ([MaNV], [HoTen], [MatKhau], [MaThe], [Quyen]) VALUES (N'A0005', N'VÕ THANH TRỌNG', N'222014', N'0001708680', N'ok')
GO
SET IDENTITY_INSERT [dbo].[phieuanQuyen] ON 

INSERT [dbo].[phieuanQuyen] ([ID], [MaQ], [NoiDung]) VALUES (1, 1, N'Co toan quyen')
INSERT [dbo].[phieuanQuyen] ([ID], [MaQ], [NoiDung]) VALUES (2, 2, N'Xu Ly Cong Van')
INSERT [dbo].[phieuanQuyen] ([ID], [MaQ], [NoiDung]) VALUES (3, 3, N'Bao Cao Quet The')
SET IDENTITY_INSERT [dbo].[phieuanQuyen] OFF



select * from [phieuanMatKhau]
